{{#>layout title="Addproject"}}
<div class="project-page">
      <section class="project-form">
        <form action="/addproject" method="post" class="container-fluid">
          <h1
            class="section-project-title text-center mt-5"
            style="font-family: Anton"
          >
            ADD MY PROJECT
          </h1>
          <div class="row form-field mb-3">
            <label for="input-project-title" class="form-label col-6"
              >Project Name</label
            >
            <input
              id="inputTitle"
              name="inputTitle"
              class="form-control g-col-6"
              type="text"
              placeholder="Enter Name Project"
              required
            />
          </div>

          <div class="row gap-5 form-field mb-3">
            <div class="row col-6">
              <label for="input-project-title" class="form-label col-6"
                >Start Date</label
              >
              <input
                id="startDate"
                name="startDate"
                class="form-control col-3"
                type="date"
                placeholder=""
                required
              />
            </div>
            <div class="row col-6">
              <label for="input-project-title" class="form-label"
                >End Date</label
              >
              <input
                id="endDate"
                name="endDate"
                class="form-control col-3"
                type="date"
                placeholder=""
                required
              />
            </div>
          </div>
          >
          <div class="from-field mb-3">
            <label class="form-label" for="input-project-content"
              >Description</label
            >
            <textarea
              id="inputContent"
              name="inputContent"
              class="form-control"
              rows="8"
              required
            ></textarea>
          </div>

          <div class="checkbox_input mb-3" required>
            <label class="form-label" for="input-blog-content"
              >Technologies</label
            >
            <div class="row">
              <div class="form-check col-6">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="angular"
                  name="angular"
                  value="Angular"
                />
                <label class="form-check-label" for="angular">angular</label>
              </div>
              <div class="form-check col-6">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="nodeJs"
                  name="nodeJs"
                  value="NodeJs"
                />
                <label class="form-check-label" for="nodeJs"> Node Js</label>
              </div>
            </div>
            <div class="row">
              <div class="form-check col-6">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="react"
                  name="react"
                  value="React"
                />
                <label class="form-check-label" for="react"> React</label><br />
              </div>
              <div class="form-check col-6">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="vueJs"
                  name="vueJs"
                  value="VueJs"
                />
                <label class="form-check-label" for="vueJs"> Vue Js</label
                ><br />
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <label
              for="input-project-image"
              class="image-camouflage input-group-text fs-4"
              ><span class="button">choose</span></label
            >
            <input
              id="input-project-image"
              name="image"
              type="file"
              class="form-control input-image"
              placeholder="image title"
              aria-label="add image"
              aria-describedby="basic-addon2"
            />
            <span for="input-project-image" class="input-group-text paperclip"
              ><i class="fa-solid fa-paperclip fs-4"></i
            ></span>
          </div>

          <div class="d-flex mb-3 justify-content-end m">
             <button onclick="buttonsaveadd()" class="from-submit-button" type="submit">submit</button>
          </div>
        </form>
      </section>
    </div>
{{/layout}}