{{#>layout}}
    <div class="login-form-container container-fluid">
        <p class="login-title">Welcome back</p>
        <form class="login-form" method="post">
            <div class="input-group flex-grow-1 ">
                <span class="input-group-text"><i class="fa-regular fa-envelope fs-2"></i></span>
                <input type="email" name="email" class="login-input" placeholder="Email">
            </div>
            <div class="input-group ">
                <span class="input-group-text"><i class="fa-solid fa-lock fs-2"></i></span>
                <input type="password" name="password" class="login-input" placeholder="Password">
            </div>

            <button class="login-form-btn">Log in</button>
        </form>
        <p class="login-sign-up-label">
            Don't have an account?<a href="/register" class="login-sign-up-link">Sign up</a>
        </p>

    </div>
    <div class="blur fullcanvas"></div>
{{/layout}}