{{#> layout title="contact" }}
 <main class="contact-section m-auto">
        <form id="contactForm" class="contact-form px-2 ">
            <h1 class="text-center mb-3 mt-3 p-5">GET IN TOUCH</h1>
            <div class="row form-field">
                <label class="col-6 fs-4" for="name">Name</label>
                <input class="form-fluid col-6" id="name" name="name" class="form-input" type="text" placeholder="" required />
            </div>

            <div class="row form-field">
                <label class="fs-4" for="email">Email</label>
                <input id="email" class=" col-6 form-fluid" name="email" class="form-input" type="email" placeholder="" required />
            </div>

            <div class="row form-field">
                <label class="fs-4" for="phoneNumber">Phone Number</label>
                <input id="phoneNumber" name="phoneNumber" class="form-input form-fluid" type="number" placeholder="" required/>
            </div>

            <div class="row form-field">
                <label class="fs-4" for="subject">Subject</label>
                <input id="subject"  name="subject" class="form-input   form-fluid" placeholder="" required></input>
            </div>

            <div class=" row form-field">
                <label class="message-contact fs-4" for="message">Your Message</label>
                <textarea id="message" name="message" class="form-input contact-msg" required></textarea>
            </div>
            <div class="d-flex justify-content-end mt-5">
            <button type="submit" class="from-submit-button mr-auto">Submit</button>

            </div>
        </form>
    </main>
    <script src="/assets/scripts/main.js"></script>
{{/layout}}
