{{#> layout title="Home" }}
  <main class="container info-content">
    <div class="row p-4">
      <section class="wellcome-text col-6 pt-5">
        <h1 class="mt-3 mb-3" style="font-family: Anton;">Wellcome to my site</h1>
        <article>
          <p>
            My name is Tajjuddiin Auliya Ahaadiin, I am a bachelor's degree
            graduate in informatics engineering at Malang State University. I
            have contributed to several website projects such as creating online
            expos based on Unity 3D, HTML, CSS and Javascript. In my expirience
            building project, I started to learn about website and application
            development as well as gamification. With this background, I hope to
            collaborate with great talents and companies to make the application
            and software.
          </p>
          <div class="row middle-info align-items-center ms-5 gap-4">
            <a class="col-4 text-center  " href="contact">contact</a>
            <a class="col-6" href="/assets/downlad.pdf">download CV <i class="fa-solid fa-download "></i></a>
          </div>
          <div class="row social-icons ms-4 gap-3" width="25rem">

            <a class="col-1 align-items-start" href="https://www.linkedin.com/in/tajjahaadiin/" target="_blank">
              <span class="fa-stack" style="vertical-align: top;">
                <i class="fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-linkedin-in fa-stack-1x"></i> </a>
            </span>
            <a class="col-1 align-items-start" href="https://www.instagram.com/tajjuddiin/" target="_blank">
              <span class="fa-stack" style="vertical-align: top;">
                <i class="fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-instagram fa-stack-1x"></i> </a>
            </span>
            <a class="col-1 align-items-start" href="https://x.com/home?lang=en">
              <span class="fa-stack" style="vertical-align: top;">
                <i class="fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-twitter fa-stack-1x"></i> </a>
            </span>
            <a class="col-1 align-items-start" href="https://github.com/Tajjahaadiin" target="_blank">
              <span class="fa-stack" style="vertical-align: top;">
                <i class="fa-regular fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-github fa-stack-1x"></i> </a>
            </span>

          </div>
        </article>
      </section>
      <section class="photo-image col-6 ">
        <div class="image-wrapper row justify-content-center align-items-center">
          <div class="card m-2" style="width: 30rem;">
            <img src="/assets/images/profil.jpg" class="card-img-top image-card" alt="profil">
            <div class="card-body profil-text">
              <h5 class="card-title text-center">Tajjuddiin</h5>
              <p class="card-text text-center">Fullstack Developer</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <script src="./utils/alert.js"></script>

  {{#if messages.success}}
    <script>
      alertSuccess('{{messages.success}}')
    </script>
  {{/if}}
{{/layout}}